<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>历次CI</title>
	<link rel="stylesheet" href="../static/css/css.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body ng-app="myApp">
	<div ng-controller="myController" class='body'>
		<canvas id="line" class="chart chart-line" chart-data="data"
          chart-labels="labels" chart-series="series" chart-options="options"
          chart-dataset-override="datasetOverride" chart-click="onClick">
		</canvas>
		<p>X:{{X}}</p>
		<p>Y:{{Y}}</p>
		<div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    正常CI范围
                </div>
                <div class="panel-body">
                   	CI值得意义
                </div>
                <div class="panel-footer">
                      
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    不正常范围
                </div>
                <div class="panel-body">
                   	CI值危害
                </div>
                <div class="panel-footer">
                      
                </div>
            </div>
        </div>
	</div>
	<script src="../static/js/angular.js"></script>
	<script src="../static/js/angular-route.js"></script>
	<script src="../static/js/Chart.min.js"></script>
	<script src="../static/js/angular-chart.min.js"></script>
	<script src="../static/js/my_app.js"></script>

</body>
</html>